.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: flex-end;
}

.left-nav {

  > ul {
    > li {
      font-family: $serif;
      font-size: 13px;
      text-transform: uppercase;
      padding: 5px 7px;
      cursor: pointer;
      border-radius: 3px;
    }
  }

  span {
    margin: 5px;
  }
}

.right-nav  {

  > ul {

    > li {
      margin-left: 2px;
    }

    > li:last-of-type {
      padding: 5px 7px;
      cursor: pointer;
    }
  }
  
  i {
    font-size: 15px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

@media all and (max-width: 1000px) {
  #subscribe-btn, #log-in-btn {
    display: none;
  }

  .right-nav, .left-nav {
    margin: 0;
  }
}