.sections-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.section-links {
    display: flex;
    align-items: baseline;
    font-style: $sans-serif;

    li {
        margin: 10px;
    }

    li:not(:last-child):hover {
        background-color: lightgray;
    }

    li:last-child {
        font-size: 10px;
    }

    li:last-child:hover {
        text-decoration: underline;
    }
}

@media all and (max-width: 1000px) {
  .sections-nav {
    display: none;
  }
}